<div class="main__container community-overview">
    <h2>Engaging</h2>
    <p>The Argo project was started at Applatix. Here are some ways to get engaged - join us!</p>
    <ul>
        <li><a href="https://github.com/argoproj/argo" target="_blank">GitHub</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/argoproj" target="_blank">Google Group</a></li>
    </ul>
    <h2>Who is using Argo?</h2>
    <div class="community-overview__logos">
        <argo-community-logos></argo-community-logos>
    </div>
</div>
