.community-overview {
    &__logos {
        margin-bottom: 40px;
    }

    ul {
        margin-left: 3em;
        margin-bottom: 4em;
    }

    li {
        padding: 8px;
        color: #4884cd;
        font-weight: 500;
    }
}
