<div class="main__container">
    <p>Argo is an open source project to provide container-native workflows for Kubernetes.
       A workflow is composed of one or more sequential and/or parallel steps.
       Eash step is implemented as a container and workflows may be arbitrarily nested.
    </p>
    <p>Argo V2 is implemented as a Kubernetes CRD (Custom Resource Definition). As a result, Argo workflows can be managed using kubectl and natively integrates with other Kubernetes services such as volumes, secrets, and RBAC.
       The Argo V2 software is lightweight, installs in seconds, and provides complete workflow features including parameter
       substitution, artifacts, scripting, loops, and recursive workflows.
    </p>
    <h2>Concepts</h2>
    <div class="main__box">
        <h3>Workflow CRD</h3>
        <ul>
            <li>A Kubernetes Custom Resource Definition (CRD) used to define Argo workflows.</li>
        </ul>
    </div>
    <div class="main__box">
        <h3>Workflow Resource</h3>
        <ul>
            <li>A custom Kubernetes resource instance containing the Argo workflow specification and state.</li>
        </ul>
    </div>
    <div class="main__box">
        <h3>Workflow Controller</h3>
        <ul>
            <li>A Kubernetes controller that interpretes the Argo Workflow Resource specifications and controls the state, flow, and scheduling of individual workflows.</li>
        </ul>
    </div>
    <div class="main__box">
        <h3>Template</h3>
        <ul>
            <li>A composable, reusable definition of a workflow or step within a workflow with support for parameterization.</li>
            <li>Defined as a container, script (e.g. bash, python, javascript), or a series of workflow steps.</li>
            <li>Accepts input parameters/artifacts and produce output parameters/artifacts.</li>
        </ul>
    </div>
    <div class="main__box">
        <h3>Step</h3>
        <ul>
            <li>A unit of execution in an Argo workflow.</li>
            <li>Represents a container, or defies a series of steps (e.g. nested workflows).</li>
        </ul>
    </div>
    <div class="main__box">
        <h3>Pod</h3>
        <ul>
            <li>
                Each pod created to run a step in an Argo workflow consists of the following containers:
                <ul>
                    <li>The 'main' container which runs the user specified container or script</li>
                    <li>An optional 'init' container which loads any input artifacts and makes them available to the main container</li>
                    <li>The 'wait' sidecar container saves any output artifacts/parameters produced by the main container</li>
                    <li>Additional user specified sidecar containers to provide supporting role to the main container (e.g. docker-in-docker, database)</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main__box">
        <h3>Parameter</h3>
        <ul>
            <li>The Argo CLI allows users to specify values for parameterized workflows before they are submitted to Kubernetes.</li>
        </ul>
    </div>
    <div class="main__box">
        <h3>Artifact</h3>
        <ul>
            <li>A collection of files/directories that can be used as inputs or outputs to a step in a workflow.</li>
            <li>Support for Git, HTTP, S3, Artifactory.</li>
        </ul>
    </div>
    <div class="main__box">
        <h3>Artifact Repository</h3>
        <ul>
            <li>A long term persistent storage of artifacts.</li>
            <li>Support for S3, Artifactory.</li>
        </ul>
    </div>
    <div class="main__box">
        <h3>Volume</h3>
        <ul>
            <li>A persistent volume used to read and store data throughout steps in a workflow (e.g. a working directory)</li>
            <li>Ephemeral volumes (PVCs) will share the same lifetime of its workflow and are created and destroyed with the workflow</li>
            <li>Existing Kubernetes volumes can be referenced and mounted to workflow containers for persistence (e.g. machine learning)</li>
        </ul>
    </div>
    <div class="main__box">
        <h3>Secret</h3>
        <ul>
            <li>Kubernetes secrets can be exposed to the container as envionment variables or volumes.</li>
        </ul>
    </div>
    <div class="main__box">
        <h3>Image</h3>
        <ul>
            <li>A Docker container image.</li>
        </ul>
    </div>
</div>
