<div class="main__container">
    <div class="tutorials">
        <argo-nav-button title="Create CI Workflow" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_1_create_ci_workflow.md'}]"></argo-nav-button>
        <argo-nav-button title="Build Docker Image and Deploy Workflow" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_2_create_docker_image_build_workflow.md'}]"></argo-nav-button>
        <argo-nav-button title="Deploy a Stateless App" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_3_deploy_stateless_mlb_app.md'}]"></argo-nav-button>
        <argo-nav-button title="Deploy a Stateful App" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_4_deploy_stateful_odoo_app_volume.md'}]"></argo-nav-button>
        <argo-nav-button title="Deploy Stateful App with AWS RDS" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_5_deploy_stateful_odoo_app_rds.md'}]"></argo-nav-button>
        <argo-nav-button title="Running Nested Workflows" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_6_execute_selenium_tests.md'}]"></argo-nav-button>
        <argo-nav-button title="Deploy Microservices-based App" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_7_deploy_microservices_sockshop_app.md'}]"></argo-nav-button>
    </div>
</div>
