<div class="main__container">
    <div class="tutorials">
        <a class="tutorials__box" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_1_create_ci_workflow.md'}]">
            Create CI Workflow</a>
        <a class="tutorials__box" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_2_create_docker_image_build_workflow.md'}]">Build Docker Image and Deploy Workflow</a>
        <a class="tutorials__box" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_3_deploy_stateless_mlb_app.md'}]">Deploy a Stateless App</a>
        <a class="tutorials__box" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_4_deploy_stateful_odoo_app_volume.md'}]">Deploy a Stateful App</a>
        <a class="tutorials__box" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_5_deploy_stateful_odoo_app_rds.md'}]">Deploy Stateful App with AWS RDS</a>
        <a class="tutorials__box" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_6_execute_selenium_tests.md'}]">Running Nested Workflows</a>
        <a class="tutorials__box" [routerLink]="['/docs', {doc: 'yaml%2Fargo_tutorial_7_deploy_microservices_sockshop_app.md'}]">Deploy Microservices-based App</a>
    </div>
</div>
