<div class="main__container">
    <div class="tutorials">
        <argo-nav-button title="Continuous Integration" [routerLink]="['/docs', 'argo_v2_example_ci_workflow.html']"></argo-nav-button>
        <argo-nav-button title="Continuous Delivery" [routerLink]="['/docs', 'argo_v2_example_cd_workflow.html']"></argo-nav-button>
        <argo-nav-button title="Docker in Docker" [routerLink]="['/docs', 'argo_v2_example_dind_workflow.html']"></argo-nav-button>
        <argo-nav-button title="Machine Learning" [routerLink]="['/docs', 'argo_v2_example_ml_workflow.html']"></argo-nav-button>
    </div>
</div>
