@import '../../../assets/styles/config';

.community {
    color: #555;
    background-color: #fbfaff;

    &__content {
        padding: 60px 0 40px;

        p {
            line-height: 2;
            margin-bottom: 30px;
        }

        h2 {
            font-size: 1.6em;
            color: #000;
        }
    }
}
