<div class="community">
    <div class="main__intro">
        <div class="main__container">
            <h1>Open source container-native workflow engine for Kubernetes</h1>
        </div>
    </div>
    <div class="main__nav">
        <div class="main__container">
            <a routerLink="./overview" routerLinkActive="active">Community</a>
            <a routerLink="./releases" routerLinkActive="active">Releases</a>
        </div>
    </div>
    <div class="community__content">
        <router-outlet></router-outlet>
    </div>
</div>
