<div class="get-started">
    <div class="main__intro">
        <div class="main__container">
            <h1>Open source container-native workflow engine for Kubernetes</h1>
        </div>
    </div>
    <div class="main__nav main__nav--hide-sm">
        <div class="main__container">
            <a routerLink="./overview" routerLinkActive="active">Overview</a>
            <a routerLink="./installation" routerLinkActive="active">Installation</a>
            <a routerLink="./tutorials" routerLinkActive="active">Examples</a>
        </div>
    </div>
    <div class="get-started__content">
        <router-outlet></router-outlet>
    </div>
</div>
