@import '../../../../assets/styles/config';

.get-started-features {
    &__row {
        @media screen and (min-width: $screen-md-min) {
            display: flex;
        }
    }

    &__box {
        padding: .6em;

        @media screen and (min-width: $screen-md-min) {
            flex: 1;
        }

        .main__box {
            margin: 0;
            height: 100%;
        }
    }
}
