<div class="main__container">
    <div class="get-started-features">
        <div class="get-started-features__row">
            <div class="get-started-features__box">
                <div class="main__box">
                    <h3>Open source container-native workflow engine built for Kubernetes</h3>
                    <p>Develop and deploy applications on Kubernetes as simple and as reliable as possible. Run thousands of concurrent containerized workflows ultra-fast.</p>
                    <ul>
                        <li>Each step in the workflow is a container</li>
                        <li>Arbitrarily compose sub-workflows to create larger workflows</li>
                        <li>Configuration as code (YAML for everything)</li>
                        <li>No need to learn tools such as Jenkins, Chef, Cloud Formation</li>
                    </ul>
                </div>
            </div>
            <div class="get-started-features__box">
                <div class="main__box">
                    <h3>Docker-in-Docker</h3>
                    <ul>
                        <li>Run DinD (Docker-in-Docker) out of the box</li>
                        <li>Run Docker builds and other containers from within containerized workflows</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="get-started-features__row">
            <div class="get-started-features__box">
                <div class="main__box">
                    <h3>Built-in artifact management</h3>
                    <ul>
                        <li>Integrated artifact management for storing and passing artifacts</li>
                        <li>Easily "pass" and reference artifacts between steps in workflows</li>
                    </ul>
                </div>
            </div>
            <div class="get-started-features__box">
                <div class="main__box">
                    <h3>Built-in secret management</h3>
                    <ul>
                        <li>Define, store, and access secrets from workflows</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="get-started-features__row">
            <div class="get-started-features__box">
                <div class="main__box">
                    <h3>Lifecycle management of resources</h3>
                    <ul>
                        <li>Managed fixtures – workflow driven lifecycle management for external services</li>
                        <li>Dynamically create and use containerized services in workflows</li>
                        <li>Define and create arbitrary external services in YAML</li>
                    </ul>
                </div>
            </div>
            <div class="get-started-features__box">
                <div class="main__box">
                    <h3>Integrated with cloud services</h3>
                    <ul>
                        <li>Auto scaling groups, spot instances, DNS, load balancers</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="get-started-features__row">
            <div class="get-started-features__box">
                <div class="main__box">
                    <h3>Interfaces</h3>
                    <ul>
                        <li>CLI</li>
                        <li>REST APIs and SDK (Python coming soon)</li>
                        <li>Simple to use GUI</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
