@import 'node_modules/argo-ui-lib/src/assets/styles/config';
@import '../../../../assets/styles/config';

.docs-browser-view {
    position: relative;

    &__top {
        margin-bottom: 30px;
        padding: 30px 0 0;
        background-color: #fff;

        @media screen and (max-width: $screen-sm-max) {
            padding: 14px 0;
        }
    }

    &__nav-toggle {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        z-index: 2;
        padding: 16px;
        font-size: 24px;
        color: $ax-color-gray-8;
        text-align: center;

        &.active {
            border-bottom: 4px solid $argo-orange;
        }

        i {
            position: relative;
            top: 2px;
        }

        @media screen and (min-width: $screen-md-min) {
            display: none;
        }
    }

    &__search-box {
        position: relative;
        max-width: 400px;
        margin: 0 auto;

        @media screen and (max-width: $screen-sm-max) {
            padding-left: 50px;
        }

        input {
            width: 100%;
        }
    }

    &__search-input {
        padding: 8px 40px 8px 12px;
        font-size: .9em;
        color: $ax-color-gray-6;
        border-radius: 20px;
        border: 1px solid #d7dee4;
    }

    &__search-button {
        position: absolute;
        top: 9px;
        right: 16px;
        color: #818181;
    }

    &__search-text {
        margin-top: 30px;
        font-size: .9em;
        color: $ax-color-gray-7;
        text-align: center;
    }

    &__search-result {
        padding-bottom: 20px;
    }

    &__search-result {
        padding: 20px 0;
        line-height: 1.3;
        font-size: .86em;
        color: $ax-color-gray-8;
        border-bottom: 1px solid $ax-color-gray-3;

        a {
            font-size: 1.3em;
        }
    }

    &__search-summary {
        width: 100%;
        max-height: 48px;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $ax-color-gray-6;
    }

    &__highlight {
        font-weight: bold;
        color: $ax-color-gray-8;
    }

    &__breadcrumbs {
        margin-bottom: 30px;
        padding-bottom: 20px;
        font-size: .9em;
        color: $ax-color-gray-7;
        border-bottom: 1px solid $ax-color-gray-3;
    }

    &__breadcrumbs-separator {
        display: inline-block;
        margin: 0 6px;
    }
}
